/** @format */
 
body {
  background-image: url("../../images/car2.jpg");
  background-size: Cover !important;
  background-repeat: repeat-y !important;
  font-family: Time New Roman !important;
  height: 100vh !important;

}

.navbar-brand {
  font-family: Brush Script MT !important;
  font-size: 34pt !important;
  text-decoration: underline !important;

}
.active {
  font-weight: bold !important;
}
.nav-item {
  width: 90px !important;
  text-align: center !important;
  text-transform: uppercase;
}
.nav-item:hover {
  background-color: white !important;
  color: black !important;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.nav-item a:hover {
  color: black !important;
}
/* slider */
.slider {
  width: 100% !important;
  height: 500px !important;
  margin: 20px auto !important;
  border-radius: 20px !important;
  box-shadow: 1px 1px 10px 5px gray !important;
  overflow: hidden !important;
}
.heading {
  text-align: center;
  font-family: Time New Roman;
  color: #fff;
  text-decoration: underline;
}
.card {
  position: relative !important;
  overflow: hidden !important;
  border: none !important;
  box-sizing: border-box !important;
 

}
.card-img-top {

  height: calc(300px - 30px) !important;
  transition: transform 2s !important;
}
.card:hover .card-img-top{
  transform: scale(1.4) !important;
}
.detail {
  position: absolute !important;
  top: 10px !important;
  left: 10px !important;
  bottom: 10px !important;
  right: 10px !important;
  background: rgb(0, 0, 0, 0.8) !important;
  transform: scale(0) !important;
  transition: transform 0.5s !important;
}
.card:hover .detail {
  transform: scale(1) !important;
}
.detail .content {

  position: absolute !important;
  top: 10% !important;
  text-align: 15px !important;
  color: #fff !important;
}
.detail .content h2 {
  text-align: center !important;
  margin: 0px !important;
  padding: 0px !important;
  font-size: 20px !important;
  color: #ff0 !important;
}
.content p {
  line-height: 17px !important;
  margin: 10px !important;
  padding: 10px !important;
  font-size: 15px !important;
  color: #fff !important;
}
/* media query */
@media only screen and (max-width: 600px) {
  .slider {
    height: auto !important;
  }
  .card{
    margin-top: 10px !important;
  }
}
